<div class="section section-padding-02">
    <div class="container">
        <!-- Cart Wrapper Start -->
        <div class="cart-wrapper">
            <!-- Cart Table Start -->
            <div class="cart-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="product-info">Thông tin bài hát</th>
                            <th class="product-total-price">Khách</th>
                            <th class="product-action">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each schedule}}
                        <tr>
                            <td class="product-info">
                                <h6 class="name"><a href="produtc-details-right-sidebar.html">{{this.nameMusic}}</a></h6>
                                <div class="product-prices">
                                    <!-- <span class="regular-price">$35.90</span> -->
                                    <!-- <span class="sale-price">$28.72</span> -->
                                    <!-- <span class="discount-percentage">Save 20%</span> -->
                                </div>
                                <div class="product-size-color">
                                    <p>Giới thiệu: <span>Bạn của chú rể</span></p>
                                    <p>Trạng thái: <span>Ưu tiên</span></p>
                                </div>
                            </td>
                            <td class="product-total-price">
                                <span class="price">{{this.name}}</span>
                                <div class="product-size-color">
                                    <p>Tuổi: <span>{{this.age}}</span></p>
                                    <p>Giới tính: <span>{{this.gender}}</span></p>
                                </div>
                            </td>
                            <td class="product-action">
                                <a href="/schedules/{{this._id}}/edit">update</a> 
                                <button class="remove" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Cart Wrapper End -->

        <div class="row">
            <form action="/schedules/add" method="POST" style="display: flex; justify-content: space-between;">
                <div class="col-lg-5">
                    <div class="cart-shipping">
                        <div class="cart-title">
                            <h4 class="title">Đặt bài hát mới</h4>
                            <p>Bài hát của bạn sẽ nhanh chóng được gửi đến MC</p>
                        </div>
                        <div class="cart-form">
                            <p>Đặt bài hát</p>

                            {{!-- <div class="single-form">
                                <select name="nameMusic" class="select2">
                                    <option value="0">Chọn tên bài hát</option>
                                    <option value="Mình cưới nhau đi">Mình cưới nhau đi</option>
                                    <option value="2">Đắp mộ cuộc tình</option>
                                    <option value="3">Vợ người ta</option>
                                    <option value="4">Anh không đòi quà</option>
                                    <option value="5">Anh đếch cần gì nhiều ngoài em</option>
                                    <option value="6">Thất tình</option>
                                    <option value="7">Ly hôn</option>
                                </select>
                            </div> --}}

                            <div class="single-form">
                                <input class="form-control" name="nameMusic" type="text" placeholder="Hoặc nhập tên bài hát tại đây" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cart-shipping">
                        <div class="cart-title">
                            <h4 class="title">Thông tin của bạn</h4>
                            <p>Bạn vui lòng cho chúng tôi biết thông tin của bạn để giới thiệu nhé</p>
                        </div>
                        <div class="cart-form">
                            <div class="single-form">
                                <input class="form-control" name="name" type="text" placeholder="Tên của bạn là gì..." />
                            </div>
                            <div class="single-form">
                                <input class="form-control" name="age" type="text" placeholder="Bạn bao nhiêu tuổi rồi" />
                            </div>
                            <div class="single-form">
                                <select name="gender" class="select2">
                                    <option value="0">Chọn giới tính</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nu">Nữ</option>
                                </select>
                            </div>
                            <div class="single-form">
                                <button class="btn btn-dark btn-hover-primary">Gửi đi</button>
                            </div>
                        </div>
                    </div>
                    <!-- Cart Shipping End -->
                </div>
            </form>
        </div>
    </div>
</div>


{{!-- confirm delete course --}}
<div class="modal" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bạn có chắc muốn xóa không</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Click vào "Xóa bỏ" lịch hát này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-course" class="btn btn-primary">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}

<form name="delete-course-form" method="POST"></form>

<script>
    var courseId;
    var deleteCourseModal = document.getElementById('delete-course-modal');
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    deleteCourseModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseId = button.getAttribute('data-id');
    });

    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/schedules/' + courseId + '?_method=DELETE';
        deleteForm.submit();
    };
</script>
